<!DOCTYPE>

    <html>

        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="styles_prueba.css">
        </head>
        <body>
            <div class="menu-phone">
    			<ul>
                    <div id="color-1"><li><a href="/matches"> KRAMO </a></li></div>
                    <div id="color-2"><li><a href="/matches/new"> CREAR PARTIDA </a></li></div>
        			<div id="color-3"><li><a href="/matches"> BUSCAR PARTIDA </a></li></div>
        			<div id="div-4"><li><a href="/numbers"> PERFIL </a></li></div>
                    <div id="color-5"><li><a href="/numbers"> AYUDA </a></li></div>
        			<div id="color-0"><li><%= div('LOGOUT', destroy_player_session_path, :method => :delete) %></li></div>

                 </ul>
                
        </body>

    </html> 