<!DOCTYPE>

<html>

    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class ="row">
                <ul>
                    <li id="color-1" class="col-md-12"> KRAMO </a></li>
                    <li id="color-2" class="col-md-12"><a href="/matches/new"> CREAR PARTIDA </a></li>
                    <li id="color-3" class="col-md-12"><a href="/matches"> BUSCAR PARTIDA </a></li>
                    <li id="color-4" class="col-md-12"><a href="/numbers"> PERFIL </a></li>
                    <li id="color-5" class="col-md-12"><a href="/numbers"> AYUDA </a></li>
                    <li id="color-0" class ="col-md-12"><%= link_to('LOGOUT', destroy_player_session_path, :method => :delete) %></li>
               </ul>
          </div>
    </body>
</html> 